.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  background-color: yellow;
  cursor: pointer;
}

a:active {
  color: lightpink;
}
